.u-section-1 .u-sheet-1 {
  min-height: 1044px;
}

.u-section-1 .u-blog-1 {
  width: 759px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 858px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 76px 7px 0 329px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 216px;
  width: 301px;
  margin: -72px auto 0 0;
}

.u-section-1 .u-metadata-1 {
  margin: -121px 237px 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  background-image: none;
  margin: 28px 220px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
    margin-top: -83px;
    margin-right: 258px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 258px;
    padding: 7px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-blog-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 5px;
    margin-left: 297px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -107px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: -17px;
    margin-right: 207px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-right: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 157px;
  }

  .u-section-1 .u-image-1 {
    width: 230px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: -18px;
    margin-right: 148px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-blog-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 129px;
    margin-top: -55px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: -233px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 50px;
  }
}